.content {
    text-align: center;
    margin: auto;
}

.content table {
    max-width: 1000px;
    text-align: center;
    margin: auto;
}

.content table th {
    text-align: center;
}

button {
    margin: auto;
    cursor: auto;
    padding-top: 100px;
    padding-left: 15px;
}

.tableLayout {
    max-width: 1000px;
    margin: auto;
}

.visibility {
    display: none;
}

.buttonMyTicket {
    text-align: center;
}

/*Button {
    margin-left: 15px;
    padding-left: 15px;
}*/

h2 {
    margin-right: 100px;
}

.buttonMyTicket Button, .button {
    padding: 0 10px 20px 10px;
    margin: 8px 30px 5px 10px;
    cursor: auto;
}

